{% extends 'base.html' %}
{% block content %}

<div class="col-md-6 m-auto">
    <h3 style="text-align: center;">Editar Console</h3>

    <form action="{{url_for('editConsole', id=console.id)}}" method="post">
        <input type="text" name="name" class="form-control" value="{{console.name}}" required>
        <input type="text" name="producer" class="form-control" value="{{console.producer}}" required>
        <input type="number" name="price" class="form-control" value="{{console.price}}" required>
        <input type="number" name="quantity" class="form-control" value="{{console.quantity}}" required>
        <br>

        <button type="submit" class="btn btn-warning">Alterar</button>
        <a href="{{url_for('estoqueConsoles')}}"><input type="button" value="Cancelar" class="btn btn-danger"></a>
    </form>
</div>

{% endblock content %}