{% extends 'base.html' %}
{% block content %}

<h2>Controle de estoque de games:</h2>

<details>
    <summary class="m-2">[ Cadastrar novo jogo ]</summary>
    <div class="col-md-4 m-2">
        <form action="{{url_for('estoqueGames')}}" method="post">
            <input type="hidden" name="CadastrarJogo" value="true">
            <input type="text" name="title" placeholder="Título" class="form-control" required>
            <input type="number" name="year" placeholder="Ano" class="form-control" required>
            <input type="text" name="category" placeholder="Categoria" class="form-control" required>
            <input type="text" name="platform" placeholder="Plataforma" class="form-control" required>
            <input type="number" name="price" placeholder="Preço" class="form-control" required>
            <input type="number" name="quantity" placeholder="Quantidade" class="form-control" required>

            <input type="submit" value="Cadastrar" class="btn btn-success">
            <input type="reset" value="Limpar" class="btn btn-danger">
        </form>
    </div>
</details>
<hr>
<table class="table table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th>Título:</th>
            <th>Ano:</th>
            <th>Categoria:</th>
            <th>Plataforma:</th>
            <th>Preço:</th>
            <th>Quantidade:</th>
        </tr>
    </thead>
    <tbody>
        {% for game in gamesestoque %}
        <tr>
            <td style="color: blue;">{{game.title}}</td>
            <td>{{game.year}}</td>
            <td>{{game.category}}</td>
            <td>{{game.platform}}</td>
            <td>R${{game.price}}</td>
            <td>{{game.quantity}}</td>
            <td><a href="{{url_for('editGame', id=game.id)}}"><button class="btn btn-warning">Editar</button></a></td>
            <td><a href="{{url_for('estoqueGames', id=game.id)}}"><button class="btn btn-danger">Excluir</button></a></td>
        </tr>
        {% endfor %}
        
    </tbody>
</table>
<hr>




{% endblock content %}