{% extends 'base.html' %}
{% block content %}

<div class="col-md-6 m-auto">
    <h3 style="text-align: center;">Editar jogo:</h3>
    <form action="{{url_for('editgame', id=game.id)}}" method="POST">
        <input type="text" name="titulo" value="{{game.titulo}}" class="form-control" required>
        <input type="number" name="ano" value="{{game.ano}}" class="form-control" required>
        <input type="text" name="categoria" value="{{game.categoria}}" class="form-control" required>
        <input type="text" name="plataforma" value="{{game.plataforma}}" class="form-control" required>
        <input type="number" name="preco" value="{{game.preco}}" class="form-control" required>
        <input type="number" name="quantidade" value="{{game.quantidade}}" class="form-control" required>
        <br>
        <button type="submit" class="btn btn-warning">Alterar</button>
        <a href="{{url_for('estoquegames')}}"><input type="button" value="Cancelar" class="btn btn-danger"></input></a>
    </form>
</div>

{% endblock content %}